<div class="side-bar-header">
  <div class="header-name">
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, "#", class: "user-name" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <li><%= link_to 'ゲーム追加', new_game_path, class: "add-game" %></li>
      <% else %>
        <li><%= link_to 'ログイン',  new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録',  new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
  <div class="create-room">
  </div>
</div>

<div class="rooms">
</div>