<div class="games-sell-contents">
  <div class="games-sell-main">
    <h2 class="games-sell-title">ソフトの情報を入力</h2>
    <%= form_with model: @game_form, url: games_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 出品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        ソフト画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-gemes">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"games-text", id:"game-name", placeholder:"ソフト名", maxlength:"40" %>
      <div class="games-explain">
        <div class="weight-bold-text">
          説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :explain, class:"items-text", id:"item-info", placeholder:"ソフトの概要" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 商品の詳細 %>
    <div class="games-detail">
      <div class="weight-bold-text">ソフト情報</div>
      <div class="form">
        <div class="weight-bold-text">
          ジャンル
          <span class="indispensable">必須</span>
        </div>
        <%= collection_check_boxes(:game_form, :genre_ids, Genre.all, :id, :name, include_hidden: false) do |g| %>
          <%= g.label {g.check_box + g.text} %>
        <% end %>
        <div class="weight-bold-text">
          コンソール
          <span class="indispensable">必須</span>
        </div>
        <%= collection_check_boxes(:game_form, :console_ids, Console.all, :id, :name, include_hidden: false) do |g| %>
          <%= g.label {g.check_box + g.text} %>
        <% end %>
      </div>
    </div>
    <%# /商品の詳細 %>

    <%# 販売価格 %>
    <div class="sell-price">
      <div class="weight-bold-text question-text">
        <span>販売価格</span>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"game-price", placeholder:"例）300" %>
        </div>
      </div>
    </div>
    <%# /販売価格 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
    <% end %>
  </div>
</div>